
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Azeret Mono;
    box-sizing: border-box;
}

.Top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 131px;
    align-items: center;
  margin: 0 120px;

}
#awlad{
    color: rgb(13, 19, 33);
    /* font-family: Azeret Mono; */
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
.top-btn{

background-color: white;
border: 1.5px solid #80808093;
border-radius: 5px;
font-size: 20px;
font-weight: 600;
padding: 17px 24px;
}
.main-section{
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    position: absolute;
    border:2px dashed #80808093 ;
    width: 100%;
    height: 652px;
   margin-left: 0;
   margin-right: 0;
    top:131px;
}


.Container{
    width: 998px;
    height: 582px;
    margin: 26px 221px 44px 221px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    text-align: center;
   
}
.Container p{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.Container h3{
    color: rgba(13, 19, 33);
font-family: Azeret Mono;
font-size: 30px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
}
.hero-btn{
    background-color: black;
    color: white;
   
    border-radius: 6px;
    padding: 17px 24px; 
}

.second-section{
     background-color: rgba(13, 19, 33, 0.02);
     border-radius: 16px;
     position: absolute;
     width: 80%;
     margin: auto 10%;
     height:1435px;
     display: flex;
     gap: 50px;
     flex-direction: column;
     /* justify-content: center; */
     top: 857px;
     padding: 80px 97px;
}

.second-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
   width: 100%;
    text-align: center;
}
.second-1 p{
    color: rgba(13, 19, 33, 0.7);
}
.second-2{
    display: flex;
    flex-direction: row;
    gap: 120px;
    padding: 48px;
    background-image: linear-gradient(to right, white, #00000000);
    border-radius: 10px;
    color: rgba(13, 19, 33, 0.7);
}
.second-2 img{
    width: 260px;
    height: auto;
}
.second-2-1{display: flex;flex-direction: column;gap: 40px;}
.second-2 h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.second-2 p{color: rgba(13, 19, 33, 0.7);}
.second-2 button{
    padding: 10px 30px; 
    background-color: white;
    border: 1px solid black;
    width: max-content;
}

.second-3{
    display: flex;
    flex-direction: row-reverse;
    gap: 120px;
    padding: 48px;
    border-radius: 10px;
    background-image: linear-gradient(to left, white, #00000000);

}
.second-3 img{
    width: 260px;
    height: auto;
}
.second-3-1{
    display: flex;
    flex-direction: column;
    gap: 40px;}
.second-3 h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: rgba(13, 19, 33, 0.7);
}
.second-3 p{color: rgba(13, 19, 33, 0.7);}
.second-3 button{padding: 10px 30px; 
    background-color: white;
    border: 1px solid black;
width: max-content;}
.second-4{
    display: flex;
    flex-direction: row;
    gap: 120px;
    padding: 48px;
    background-color: white;
    border-radius: 10px;
    background-image: linear-gradient(to right, white, #00000000);
}
.second-4 img{
    width: 260px;
    height: auto;
}
.second-4-1{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.second-4 h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: rgba(13, 19, 33, 0.7);
}
.second-4 p{
    color: rgba(13, 19, 33, 0.7);}
.second-4 button{
    padding: 10px 30px; 
    background-color: white;
    border: 1px solid black;
    width: max-content;
}
.third-section{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2450px;
    gap: 80px;
    margin: auto 152px auto 148px;
}
.third-section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    
}
.third-section-1 h3{
    font-size: 24px;
}
.third-section-1 p{
    color: grey;
}
.third-section-2{
    width: 100%;
    border: 3px solid gray;
    border-radius: 10px;
    padding: 17px;

}
.fourth-section{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3150px;
    gap: 80px;
    margin: 100px 152px 100px 152px;
}
.fourth-section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    
}
.fourth-section-1 h3{
    font-size: 24px;
}
.fourth-section-1 p{
    color: grey;
}
.fourth-section-2{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.fourth-section-2>div{display: flex;
    flex-direction: column;
    justify-content: space-between;gap: 20px;}
.fourth-section-2 img{width: 56px;}
.fourth-section-2 p{font-size: 14px;color: gray;}
.fourth-section-2-1{
     background: rgba(255, 76, 30, 0.05);
     border-radius: 16px;
     padding: 40px;
     gap: 10px;
}
.fourth-section-2-2{
background: rgba(0, 76, 232, 0.05);
border-radius: 16px;
padding: 40px;
}
.fourth-section-2-3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
}
.fifth-section{
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: absolute;
    top:3800px ;
}
.fifth-section-1{
    display: flex;
    flex-direction:column;
    gap: 20px;
    text-align: center;
}
.fifth-section-2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.fifth-section-2>div {
    display: flex;
    flex-direction: row;
    gap: 40px;
    border: 2px solid gainsboro;
    border-radius: 16px;
    gap: 40px;
    padding: 40px 30px;
}
.fifth-section-sub{color: gray;display: flex;gap: 15px;flex-direction: column;flex-basis: 88%;}
.fifth-section-img{flex-basis: 12%;}
.fifth-section-img img{width: inherit;height: inherit;}

.sixth-section{
     background-image: url("../assets/handshake.jpg");
     border-radius: 16px;
     background-repeat: no-repeat;
     background-position: center;
     width: 1300px;
     height: 313px;
     margin-left: 115px;
     margin-right: 115px;
     padding: 64px,48px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 4700px;
     gap: 70px;

}
.black-shade{
    background:rgba(0, 0, 0, 0.509);
    width: 100%;height: 100%;
    position: absolute;
    top: 0;left: 0;


}
.sixth-section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:25px;
}
.sixth-section-1 h3{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.sixth-section-1 p{
    color: white;
}
.sixth-section-2{
    display: flex;
    flex-direction: row;
    gap:30px;
    
}
.text-holder{
    width: 550px;
    height: 57px;
    border-radius: 8px;
    padding-left: 30px;
    font-size: 20px;
    background: rgb(255, 255, 255);
    color: black;
    border: 2px solid #f6e6e6;
}
.Submit-btn{
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    color: black;
    border: 2px solid gray;
}

.foter-section{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    background: rgba(13, 19, 33, 0.05);
    top:5050px; 
    padding: 38px 150px;
    ;
}
.footer-left h5{
    font-weight: 600;
    font-size: 16px;

}
.footer-icon{

}
